# Laravel Environment
.env
.env.backup
.env.production

# Laravel & Composer
/vendor
/storage/*.key
/storage/pail
/public/storage
/public/hot
/public/build
composer.lock
auth.json

# Cache & Logs
.phpunit.result.cache
/.phpunit.cache
*.log

# IDE & Editor
/.idea
/.vscode
/.fleet
/.zed
.phpactor.json

# OS Generated
.DS_Store
Thumbs.db

# Laravel Nova (jika pakai)
/.nova

# Homestead (optional)
Homestead.json
Homestead.yaml

# Node Modules
/node_modules
